In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Qualifier_match_data/Script/total_data.csv')

In [3]:
df

,년도,순위,팀,영문국가명,경기,승,무,패,득점,실점,득실차,승점,비고,예선_승률,예선_골득실률
0,2002,1,브라질,Brazil,7,7,0,0,18,4,14,21,우승,0.46,2.352113
1,2002,2,독일,Germany,7,5,1,1,14,3,11,16,준우승,0.55,1.817073
2,2002,3,터키,Turkey,7,4,1,2,10,6,4,13,3위,0.46,1.457627
3,2002,4,대한민국,South Korea,7,3,2,2,8,6,2,11,4위,0.48,2.216667
4,2002,5,스페인,Spain,5,3,2,0,10,5,5,11,8강,0.65,3.227273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022,28,덴마크,Denmark,3,0,1,2,1,3,-2,1,조별 리그,0.61,2.446429
188,2022,29,세르비아,Serbia,3,0,1,2,5,8,-3,1,조별 리그,0.48,1.536232
189,2022,30,웨일스,Wales,3,0,1,2,1,6,-5,1,조별 리그,0.44,1.233333
190,2022,31,캐나다,Canada,3,0,0,3,2,7,-5,0,조별 리그,0.48,2.296875
191,2022,32,카타르,Qatar,3,0,0,3,1,7,-6,0,조별 리그,0.49,1.388889

In [5]:
final_df = df[['년도','팀','영문국가명','예선_승률','예선_골득실률','순위','승점']]

In [6]:
final_df

       년도     팀        영문국가명  예선_승률   예선_골득실률  순위  승점
0    2002   브라질       Brazil   0.46  2.352113   1  21
1    2002    독일      Germany   0.55  1.817073   2  16
2    2002    터키       Turkey   0.46  1.457627   3  13
3    2002  대한민국  South Korea   0.48  2.216667   4  11
4    2002   스페인        Spain   0.65  3.227273   5  11
..    ...   ...          ...    ...       ...  ..  ..
187  2022   덴마크      Denmark   0.61  2.446429  28   1
188  2022  세르비아       Serbia   0.48  1.536232  29   1
189  2022   웨일스        Wales   0.44  1.233333  30   1
190  2022   캐나다       Canada   0.48  2.296875  31   0
191  2022   카타르        Qatar   0.49  1.388889  32   0

[192 rows x 7 columns]

In [7]:
final_df.to_csv('Final_dataframe.csv',index=False, encoding='utf-8')