In [ ]:
country_map = {
    "브라질": "Brazil",
    "독일": "Germany",
    "터키": "Turkey",
    "대한민국": "South Korea",
    "스페인": "Spain",
    "잉글랜드": "England",
    "세네갈": "Senegal",
    "미국": "United States",
    "일본": "Japan",
    "덴마크": "Denmark",
    "멕시코": "Mexico",
    "아일랜드": "Republic of Ireland",
    "스웨덴": "Sweden",
    "벨기에": "Belgium",
    "이탈리아": "Italy",
    "파라과이": "Paraguay",
    "남아프리카 공화국": "South Africa",
    "아르헨티나": "Argentina",
    "코스타리카": "Costa Rica",
    "카메룬": "Cameroon",
    "포르투갈": "Portugal",
    "러시아": "Russia",
    "크로아티아": "Croatia",
    "에콰도르": "Ecuador",
    "폴란드": "Poland",
    "우루과이": "Uruguay",
    "나이지리아": "Nigeria",
    "프랑스": "France",
    "튀니지": "Tunisia",
    "슬로베니아": "Slovenia",
    "중국": "China PR",
    "사우디아라비아": "Saudi Arabia",
    "우크라이나": "Ukraine",
    "스위스": "Switzerland",
    "네덜란드": "Netherlands",
    "가나": "Ghana",
    "호주": "Australia",
    "코트디부아르": "Côte d'Ivoire",
    "체코": "Czechia",
    "앙골라": "Angola",
    "이란": "Iran",
    "트리니다드 토바고": "Trinidad and Tobago",
    "토고": "Togo",
    "세르비아 몬테네그로": "Montenegro",
    "칠레": "Chile",
    "슬로바키아": "Slovakia",
    "뉴질랜드": "New Zealand",
    "세르비아": "Serbia",
    "그리스": "Greece",
    "알제리": "Algeria",
    "온두라스": "Honduras",
    "북한": "Korea DPR",
    "콜롬비아": "Colombia",
    "보스니아 헤르체고비나": "Bosnia and Herzegovina",
    "페루": "Peru",
    "모로코": "Morocco",
    "아이슬란드": "Iceland",
    "이집트": "Egypt",
    "파나마": "Panama",
    "웨일스": "Wales",
    "캐나다": "Canada",
    "카타르": "Qatar",
}

In [12]:
import pandas as pd

df1 = pd.read_csv('avg_fifa_rank.csv')
df2 = pd.read_csv('merged v3.csv')
reverse_map = {v: k for k, v in country_map.items()}

# df1에 한글 이름 컬럼 추가
df1["팀"] = df1["team"].map(reverse_map)

merged = pd.merge(
    df2,
    df1,
    left_on=["년도", "팀"],
    right_on=["wc_year", "팀"],
    how="left"
)

# 불필요한 컬럼 정리
# merged = merged.drop(columns=["국가"])  # 중복 키 제거
# 혹시 '팀_y'가 남았다면 제거
if "팀_y" in merged.columns:
    merged = merged.drop(columns=["팀_y"])
merged = merged.rename(columns={"팀_x": "팀"})

merged

,년도,팀,영문국가명,예선_승률,예선_골득실률,순위,승점,AvgApps,ball_control,dribbling,...,passing,defending,평균나이,top20소속선수수,team,rank,wc_year,total_points,rank_diff,points_diff
0,2002,브라질,Brazil,0.46,2.352113,1,21,0.26087,74.36,73.68,...,68.95,59.61,26.74,3,Brazil,1.33,2002.0,818.33,NaN,NaN
1,2002,독일,Germany,0.55,1.817073,2,16,0.21739,68.05,56.29,...,62.88,63.29,28.26,10,Germany,8.67,2002.0,718.33,NaN,NaN
2,2002,터키,Turkey,0.46,1.457627,3,13,0.00000,66.85,65.85,...,65.18,56.78,28.26,1,Turkey,33.00,2002.0,593.33,NaN,NaN
3,2002,대한민국,South Korea,0.48,2.216667,4,11,0.43478,65.95,56.82,...,57.66,62.23,27.13,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,스페인,Spain,0.65,3.227273,5,11,0.26087,73.55,68.73,...,69.80,64.55,27.13,3,Spain,5.00,2002.0,742.33,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022,덴마크,Denmark,0.61,2.446429,28,1,0.46154,67.27,62.65,...,66.37,53.93,27.23,4,Denmark,13.33,2022.0,1611.83,-18.00,816.50
188,2022,세르비아,Serbia,0.48,1.536232,29,1,0.46154,67.35,62.35,...,64.19,51.35,26.92,0,Serbia,31.33,2022.0,1492.66,-18.00,852.99
189,2022,웨일스,Wales,0.44,1.233333,30,1,0.00000,61.23,57.46,...,59.62,53.12,26.54,0,Wales,21.00,2022.0,1545.20,10.75,409.70
190,2022,캐나다,Canada,0.48,2.296875,31,0,0.00000,59.88,57.84,...,56.82,43.71,27.08,0,Canada,66.33,2022.0,1356.74,-34.00,1018.07
191,2022,카타르,Qatar,0.49,1.388889,32,0,0.00000,60.60,58.04,...,57.96,49.69,27.12,0,Qatar,53.33,2022.0,1406.28,-34.67,1025.61

In [13]:
merged.columns

Index(['년도', '팀', '영문국가명', '예선_승률', '예선_골득실률', '순위', '승점', 'AvgApps',
       'ball_control', 'dribbling', 'composure', 'reaction', 'crossing',
       'acceleration', 'stamina', 'strength', 'shot_power', 'sprint_speed',
       'gk', 'passing', 'defending', '평균나이', 'top20소속선수수', 'team', 'rank',
       'wc_year', 'total_points', 'rank_diff', 'points_diff'],
      dtype='object')

In [17]:
cols = ['total_points', 'rank']

missing_rows = merged[merged[cols].isna().any(axis=1)]
print(missing_rows)

       년도           팀           영문국가명  예선_승률   예선_골득실률  순위  승점  AvgApps  \
3    2002        대한민국     South Korea   0.48  2.216667   4  11  0.43478
7    2002          미국   United States   0.57  2.388889   8   7  0.52174
30   2002          중국        China PR   0.55  2.754717  31   0  0.00000
48   2006        대한민국     South Korea   0.45  2.164179  17   4  0.39130
51   2006          체코  Czech Republic   0.63  2.561404  20   3  0.00000
56   2006          미국   United States   0.66  2.672131  25   1  0.60870
57   2006          이란            Iran   0.59  2.569231  26   1  0.04348
63   2006  세르비아 몬테네그로      Montenegro   0.42  1.117647  32   0  0.04348
75   2010          미국   United States   0.56  1.431373  12   5  0.43478
78   2010        대한민국     South Korea   0.52  1.840580  15   4  0.56522
95   2010          북한     North Korea   0.30  2.339286  32   0  0.00000
110  2014          미국   United States   0.57  1.459459  15   4  0.43478
122  2014        대한민국     South Korea   0.50  1.674699  27   1  0.21739
123  2014          이란            Iran   0.57  3.769231  28   1  0.13043
145  2018          이란            Iran   0.59  3.823529  18   4  0.34783
146  2018        대한민국     South Korea   0.53  2.048387  19   3  0.30435
173  2022          미국   United States   0.57  2.784615  14   5  0.03846
175  2022        대한민국     South Korea   0.54  2.553571  16   4  0.42308
185  2022          이란            Iran   0.69  3.717949  26   3  0.72000

     ball_control  dribbling  ...  passing  defending   평균나이  top20소속선수수  \
3           65.95      56.82  ...    57.66      62.23  27.13           0
7           68.36      65.86  ...    64.11      60.73  28.83           1
30          67.52      62.29  ...    61.43      54.76  26.65           2
48          60.00      54.78  ...    54.11      55.83  26.43           1
51          68.36      66.55  ...    64.91      54.91  28.87           3
56          65.39      63.87  ...    62.74      64.00  28.61           2
57          56.48      58.00  ...    58.64      50.83  27.17           0
63          66.91      62.64  ...    56.52      51.61  28.48           2
75          58.96      55.09  ...    58.76      47.87  27.26           2
78          59.00      59.52  ...    60.28      49.11  27.48           1
95          58.05      52.48  ...    54.33      48.07  25.91           0
110         62.43      59.13  ...    63.96      49.79  27.87           0
122         61.22      58.17  ...    62.93      46.68  26.13           1
123         59.43      56.26  ...    58.76      44.36  28.48           0
145         62.17      58.74  ...    57.96      44.07  27.26           0
146         61.74      60.04  ...    60.35      50.95  27.78           0
173         63.27      61.35  ...    59.48      49.31  25.31           2
175         61.73      58.58  ...    58.65      46.33  27.81           0
185         56.91      55.96  ...    53.93      44.58  28.92           1

     team  rank  wc_year  total_points  rank_diff  points_diff
3     NaN   NaN      NaN           NaN        NaN          NaN
7     NaN   NaN      NaN           NaN        NaN          NaN
30    NaN   NaN      NaN           NaN        NaN          NaN
48    NaN   NaN      NaN           NaN        NaN          NaN
51    NaN   NaN      NaN           NaN        NaN          NaN
56    NaN   NaN      NaN           NaN        NaN          NaN
57    NaN   NaN      NaN           NaN        NaN          NaN
63    NaN   NaN      NaN           NaN        NaN          NaN
75    NaN   NaN      NaN           NaN        NaN          NaN
78    NaN   NaN      NaN           NaN        NaN          NaN
95    NaN   NaN      NaN           NaN        NaN          NaN
110   NaN   NaN      NaN           NaN        NaN          NaN
122   NaN   NaN      NaN           NaN        NaN          NaN
123   NaN   NaN      NaN           NaN        NaN          NaN
145   NaN   NaN      NaN           NaN        NaN          NaN
146   NaN   NaN      NaN           NaN        NaN          NaN
173   NaN   NaN      NaN           NaN        NaN          NaN
175   NaN   NaN      NaN           NaN        NaN          NaN
185   NaN   NaN      NaN           NaN        NaN          NaN

[19 rows x 29 columns]

In [15]:
# merged.to_csv('merged v3.csv',index=False,encoding='utf-8')