In [47]:
country_map = {
    "브라질": "Brazil",
    "독일": "Germany",
    "터키": "Turkey",
    "대한민국": "South Korea",
    "스페인": "Spain",
    "잉글랜드": "England",
    "세네갈": "Senegal",
    "미국": "United States",
    "일본": "Japan",
    "덴마크": "Denmark",
    "멕시코": "Mexico",
    "아일랜드": "Republic of Ireland",
    "스웨덴": "Sweden",
    "벨기에": "Belgium",
    "이탈리아": "Italy",
    "파라과이": "Paraguay",
    "남아프리카 공화국": "South Africa",
    "아르헨티나": "Argentina",
    "코스타리카": "Costa Rica",
    "카메룬": "Cameroon",
    "포르투갈": "Portugal",
    "러시아": "Russia",
    "크로아티아": "Croatia",
    "에콰도르": "Ecuador",
    "폴란드": "Poland",
    "우루과이": "Uruguay",
    "나이지리아": "Nigeria",
    "프랑스": "France",
    "튀니지": "Tunisia",
    "슬로베니아": "Slovenia",
    "중국": "China PR",
    "사우디아라비아": "Saudi Arabia",
    "우크라이나": "Ukraine",
    "스위스": "Switzerland",
    "네덜란드": "Netherlands",
    "가나": "Ghana",
    "호주": "Australia",
    "코트디부아르": "Côte d'Ivoire",
    "체코": "Czechia",
    "앙골라": "Angola",
    "이란": "Iran",
    "트리니다드 토바고": "Trinidad and Tobago",
    "토고": "Togo",
    "세르비아 몬테네그로": "Montenegro",
    "칠레": "Chile",
    "슬로바키아": "Slovakia",
    "뉴질랜드": "New Zealand",
    "세르비아": "Serbia",
    "그리스": "Greece",
    "알제리": "Algeria",
    "온두라스": "Honduras",
    "북한": "North Korea",
    "콜롬비아": "Colombia",
    "보스니아 헤르체고비나": "Bosnia and Herzegovina",
    "페루": "Peru",
    "모로코": "Morocco",
    "아이슬란드": "Iceland",
    "이집트": "Egypt",
    "파나마": "Panama",
    "웨일스": "Wales",
    "캐나다": "Canada",
    "카타르": "Qatar",
}

In [48]:
import pandas as pd

df1 = pd.read_csv('wc_avg_apps.csv')
df2 = pd.read_csv('Final_dataframe.csv')

# country_map을 반대로 (영문 → 한글) 매핑
reverse_map = {v: k for k, v in country_map.items()}

# df1에 한글 이름 컬럼 추가
df1["팀"] = df1["Team"].map(reverse_map)

# merge (Year ↔ 년도, Team ↔ 영문국가명)
merged = pd.merge(
    df2,
    df1,
    left_on=["년도", "영문국가명"],
    right_on=["Year", "Team"],
    how="left"
)

merged

,년도,팀_x,영문국가명,예선_승률,예선_골득실률,순위,승점,Team,Year,AvgApps,팀_y
0,2002,브라질,Brazil,0.46,2.352113,1,21,Brazil,2002.0,0.26087,브라질
1,2002,독일,Germany,0.55,1.817073,2,16,Germany,2002.0,0.21739,독일
2,2002,터키,Turkey,0.46,1.457627,3,13,Turkey,2002.0,0.00000,터키
3,2002,대한민국,South Korea,0.48,2.216667,4,11,South Korea,2002.0,0.43478,대한민국
4,2002,스페인,Spain,0.65,3.227273,5,11,Spain,2002.0,0.26087,스페인
...,...,...,...,...,...,...,...,...,...,...,...
187,2022,덴마크,Denmark,0.61,2.446429,28,1,Denmark,2022.0,0.46154,덴마크
188,2022,세르비아,Serbia,0.48,1.536232,29,1,Serbia,2022.0,0.46154,세르비아
189,2022,웨일스,Wales,0.44,1.233333,30,1,Wales,2022.0,0.00000,웨일스
190,2022,캐나다,Canada,0.48,2.296875,31,0,Canada,2022.0,0.00000,캐나다
191,2022,카타르,Qatar,0.49,1.388889,32,0,Qatar,2022.0,0.00000,카타르

In [49]:
# df1에는 reverse_map으로 한글 팀 안 붙이고 그냥 그대로 merge
merged = pd.merge(
    df2,
    df1,
    left_on=["년도", "팀"],
    right_on=["Year", "팀"],
    how="left"
)

# 불필요한 컬럼 정리
merged = merged.drop(columns=["Team", "Year"])  # 중복 키 제거
# 혹시 '팀_y'가 남았다면 제거
if "팀_y" in merged.columns:
    merged = merged.drop(columns=["팀_y"])
merged = merged.rename(columns={"팀_x": "팀"})

merged

       년도     팀        영문국가명  예선_승률   예선_골득실률  순위  승점  AvgApps
0    2002   브라질       Brazil   0.46  2.352113   1  21  0.26087
1    2002    독일      Germany   0.55  1.817073   2  16  0.21739
2    2002    터키       Turkey   0.46  1.457627   3  13  0.00000
3    2002  대한민국  South Korea   0.48  2.216667   4  11  0.43478
4    2002   스페인        Spain   0.65  3.227273   5  11  0.26087
..    ...   ...          ...    ...       ...  ..  ..      ...
187  2022   덴마크      Denmark   0.61  2.446429  28   1  0.46154
188  2022  세르비아       Serbia   0.48  1.536232  29   1  0.46154
189  2022   웨일스        Wales   0.44  1.233333  30   1  0.00000
190  2022   캐나다       Canada   0.48  2.296875  31   0  0.00000
191  2022   카타르        Qatar   0.49  1.388889  32   0  0.00000

[192 rows x 8 columns]

In [ ]:
merged.loc[merged['팀']=='세르비아 몬테네그로','AvgApps']=0.04348

In [56]:
missing_avgapps = merged[merged["AvgApps"].isna()]

print(missing_avgapps)

Empty DataFrame
Columns: [년도, 팀, 영문국가명, 예선_승률, 예선_골득실률, 순위, 승점, AvgApps]
Index: []

In [55]:
# AvgApps 결측치( NaN )를 0으로 채우기
merged["AvgApps"] = merged["AvgApps"].fillna(0)

# 확인
missing_after = merged[merged["AvgApps"].isna()]
print(missing_after)   # 이제 빈 DF 나와야 함

Empty DataFrame
Columns: [년도, 팀, 영문국가명, 예선_승률, 예선_골득실률, 순위, 승점, AvgApps]
Index: []

In [57]:
merged

       년도     팀        영문국가명  예선_승률   예선_골득실률  순위  승점  AvgApps
0    2002   브라질       Brazil   0.46  2.352113   1  21  0.26087
1    2002    독일      Germany   0.55  1.817073   2  16  0.21739
2    2002    터키       Turkey   0.46  1.457627   3  13  0.00000
3    2002  대한민국  South Korea   0.48  2.216667   4  11  0.43478
4    2002   스페인        Spain   0.65  3.227273   5  11  0.26087
..    ...   ...          ...    ...       ...  ..  ..      ...
187  2022   덴마크      Denmark   0.61  2.446429  28   1  0.46154
188  2022  세르비아       Serbia   0.48  1.536232  29   1  0.46154
189  2022   웨일스        Wales   0.44  1.233333  30   1  0.00000
190  2022   캐나다       Canada   0.48  2.296875  31   0  0.00000
191  2022   카타르        Qatar   0.49  1.388889  32   0  0.00000

[192 rows x 8 columns]

In [58]:
merged.to_csv('merged v1.csv',index=False,encoding='utf-8')